{% extends 'base.html' %}

{% block content %}
    {% for article in object_list %}
        <div class="post-entry">
            <h2> {{ article.title }} </h2>
            <p> {{ article.body }} </p>
        </div>

        <div class="edit">
            <a href={% url 'article_detail' article.pk %}>Edit</a> | <a href={% url 'article_delete' article.pk %}>Delete</a>
        </div>
    {% endfor %}

{% endblock %}