<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf- 8">
        <title>Newspaper App</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <a href="{% url 'article_new' %}">+New</a>
        {% endif %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>